.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dcd7c9;
  flex-direction: column;
}

.buttons-container {
  margin-top: 50px;
  display: flex;
  width: 10%;
  height: 10%;
  flex-direction: column;
}

.button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #45a049;
}
